<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.js %>
</head>

<body>
  <% include ../partials/nav.js %>
  <% include ../partials/main.js %>
  <% include ../partials/about.js %>
  <% include ../partials/profile.js %>
  <% include ../partials/sample.js %>
  <% include ../partials/contact.js %>


</body>
</html>
